<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Header</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="adminHeader">
  <header class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <a class="navbar-brand" th:href="@{/admin/home}">Admin Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="adminNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/orders}">Đơn hàng</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/products}">Sản phẩm</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/users}">Người dùng</a></li>
        <li class="nav-item"><a class="nav-link text-danger" th:href="@{/logout}">Đăng xuất</a></li>
      </ul>
    </div>
  </header>
</div>
</body>
</html>
