<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="Fragments/header :: header"></div>
<div th:replace="Fragments/navbar :: navbar"></div>

<main class="container flex-grow-1 mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">User Name</th>
                <th scope="col">Total Price</th>
                <th scope="col">Status</th>
                <th scope="col">CreateAt</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="orderDto,index: ${orderPage}">
                <th scope="row" th:text="${(orderPage.number * orderPage.size) + index.count}"></th>
                <td th:text="${orderDto.fullName}"></td>
                <td th:text="${orderDto.getTotalPrice()}"></td>
                <td th:text="${orderDto.getStatus()}"></td>
                <td th:text="${orderDto.getCreatedAt()}"></td>
            </tr>
        </tbody>
    </table>
    <a th:if="${pageNo > 0}" th:href="@{/order/load(pageNo = ${pageNo -1})}">Trang truoc</a>
    <span th:each="i : ${#numbers.sequence(0,totalPages -1)}">
        <a th:href="@{/order/load(pageNo = ${i})}" th:text="${i+1}"></a>
    </span>
    <a th:if="${pageNo < totalPages -1}" th:href="@{/order/load(pageNo = ${pageNo+1})}">Trang Sau</a>
</main>

<div th:replace="Fragments/footer:: footer"> </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>