<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Order</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="Fragments/Admin/admin-header::adminHeader"></div>

<form th:action="@{/order/add}" th:object="${orderDTO}" method="post">
    <div class="mb-3">
        <label class="form-label">Mã đơn hàng:</label>
        <input type="text" class="form-control" th:field="*{id}" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Khách hàng:</label>
        <input type="text" class="form-control" th:field="*{fullName}" >
    </div>
    <div class="mb-3">
        <label class="form-label">Tổng tiền:</label>
        <input type="text" class="form-control" th:field="*{totalPrice}" readonly>
    </div>
    <div class="mb-3">
        <label class="fm">Trạng thái: </label>
        <select class="form-select" th:field="*{status}">
            <option th:each="stt : ${listStt}" th:value="${stt}" th:text="${stt}" ></option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Thời gian:</label>
        <input type="text" class="form-control" th:value="${#temporals.format(orderDTO.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}">
    </div>

    <h5>Sản phẩm trong đơn hàng:</h5>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Hình ảnh</th>
            <th>Sản phẩm</th>
            <th>Số lượng</th>
            <th>Màu</th>
            <th>Size</th>
            <th>Brand</th>
            <th>Giá</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${orderDTO.getOrderItems()}">
            <td>
                <img th:src="${item.productImage}" alt="Hinh anh san pham" width="50">
            </td>
            <td th:text="${item.productName}"></td>
            <td>
                <input class="form-control" type="number" th:value="${item.quantity}">
            </td>
            <td>
                <select class="form-select">
                    <option th:each="color: ${listColor}" th:text="${color}" th:value="${color}"></option>
                </select>
            </td>
            <td>
                <select class="form-select">
                    <option th:each="size: ${listSize}" th:text="${size}" th:value="${size}"></option>
                </select>
            </td>
            <td>
                <select class="form-select">
                    <option th:each="brand: ${listBrand}" th:text="${brand}" th:value="${brand}"></option>
                </select>
            </td>
        </tr>

        </tbody>
    </table>
</form>
<div class="mt-auto" th:replace="Fragments/Admin/admin-footer::adminFooter"> </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</html>